@charset "UTF-8";
:root {
  font-family: "Gowun Batang";
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

@media (max-width: 1400px) {
  :root {
    font-size: 1.14vw;
  }
}
body {
  background: url("../img/main_bg.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
}
header .container {
  text-align: center;
}
header .container #top {
  display: flex;
  justify-content: flex-end;
}
header .container #top .none.top_box {
  display: none;
}
header .container #top .top_box {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 5/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3137254902);
  border-right: 1px solid #ffffff;
  transition: transform 0.25s ease-in-out;
}
header .container #top .top_box:hover {
  transform: translateY(-0.2em);
  box-shadow: 0 0.5em 0.5em -0.4em hsla(0, 0%, 5%, 0.5);
  cursor: pointer;
}
header .container #top .top_box a {
  text-decoration: none;
  color: #333333;
  font-size: 1.25rem;
  font-family: "Raleway";
  display: flex;
  align-items: center;
  gap: 10px;
}
header .container #top .top_box a::before {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 2px solid hsl(0, 0%, 33%);
  top: 5px;
  left: 0;
  animation: animate 10s linear infinite;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
  z-index: -1;
}
header .container #top .top_box a:hover::before,
header .container #top .top_box a:focus::before {
  transform: scaleX(1);
}
header .container #top .top_box a::after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 2px solid hsla(0, 0%, 5%, 0.5);
  bottom: 0;
  right: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
  z-index: -1;
}
header .container #top .top_box a:hover::after,
header .container #top .top_box a:focus::after {
  transform: scaleX(1);
}

main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
main .wrap {
  display: flex;
  flex-direction: column;
}
main .wrap .area {
  width: 100%;
  height: 100vh;
}
main .wrap #title {
  text-align: center;
}
main .wrap #title h1 {
  font-family: "Abril Fatface";
  padding: 300px 0 120px 0;
  font-size: 7.5rem;
}
main .wrap #title span {
  font-weight: 700;
  font-size: 3rem;
}
main .wrap #title .gradient-text-ani {
  color: #f35626;
  background-image: linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Hue 5s linear infinite;
}
@keyframes Hue {
  0% {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-1turn);
  }
}
main .wrap #title p {
  font-size: 2rem;
  padding-top: 40px;
  line-height: 150%;
}
main .wrap #about {
  width: 100%;
  padding-left: 90px;
}
main .wrap #about .about_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
main .wrap #about h2 {
  margin: 150px 0 80px 90px;
  font-family: "Abril Fatface";
  font-size: 2.25rem;
}
main .wrap #about #aboutme {
  width: 40%;
}
main .wrap #about #aboutme #me_text {
  text-align: center;
}
main .wrap #about #aboutme #me_text p {
  width: calc(100% - 276px);
  margin: 0 auto;
}
main .wrap #about #aboutme #me_text p img {
  width: 100%;
}
main .wrap #about #aboutme #me_text h3 {
  margin: 20px 0;
  font-size: 2rem;
  font-weight: 600;
}
main .wrap #about #aboutme #me_text span {
  font-size: 1.25rem;
}
main .wrap #about #info {
  width: 100%;
  margin: 0 50px;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}
main .wrap #about #info .info_box {
  width: calc(50% - 80px);
}
main .wrap #about #info .info_box h4 {
  font-size: 2rem;
  font-weight: bold;
}
main .wrap #about #info .info_box ul {
  font-size: 1.25rem;
}
main .wrap #about #info .info_box ul .text {
  margin-left: 30px;
}
main .wrap #about #info .info_box ul li {
  display: inline-block;
  line-height: 200%;
}
main .wrap #about #info .info_box .sort {
  display: flex;
  flex-direction: column;
}
main .wrap #about #info .box4 ul {
  display: flex;
  gap: 50px;
  margin-top: 10px;
}
main .wrap #works {
  margin: 0 auto;
  position: relative;
}
main .wrap #works h2 {
  margin: 150px 0 80px 90px;
  font-family: "Abril Fatface";
  font-size: 2.25rem;
}
main .wrap #works .contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  gap: 0;
}
main .wrap #works .contents .box {
  flex: 1;
  margin: 0 auto;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.062745098);
  border-bottom: none;
  display: flex;
  flex-direction: column;
  min-height: 700px; /* 기본 높이 유지, 내용이 많아지면 자동 확장 */
}
main .wrap #works .contents .box h3 {
  align-self: flex-end;
  font-size: 4rem;
  font-weight: 600;
  padding: 20px;
}
main .wrap #works .contents .box img {
  display: block; /* 이미지를 블록 요소로 변경 */
  margin: 0 auto;
  max-width: 80%;
}
main .wrap #works .contents .box p {
  padding-left: 70px;
  font-size: 1.25rem;
  line-height: 150%;
}
main .wrap #works .contents .box .title {
  margin-top: 80px;
}
main .wrap #works .contents .box span {
  padding-left: 70px;
  margin: 20px 0;
  font-size: 1.75rem;
  font-weight: 600;
}
main .wrap #contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; /* 세로 중앙 정렬 */
  height: 100vh; /* 화면 전체 높이 */
  margin: 0;
}
main .wrap #contact h2 {
  font-family: "Abril Fatface";
  font-size: 7.5rem;
}
main .wrap #contact ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
main .wrap #contact ul li {
  font-size: 2rem;
  line-height: 200%;
  position: relative;
}
main .wrap #contact ul li #phone {
  position: absolute;
  left: -41px;
  top: 10px;
  z-index: -1;
  width: 2.5rem;
}
main .wrap #contact ul li #email {
  position: absolute;
  left: -50px;
  top: 12px;
  z-index: -1;
  width: 2.5rem;
}
main .wrap #contact ul li #name {
  font-size: 2.5rem;
  font-weight: 600;
}

/*테블릿적용*/
/*모바일적용*/
@media (max-width: 768px) {
  :root {
    font-size: 3vw;
  }
  main .wrap #title h1 {
    font-size: 4.5rem;
  }
  main .wrap #title span {
    font-size: 2.5rem;
  }
  main .wrap #title p {
    font-size: 1.5rem;
  }
  main .wrap #about {
    padding: 0;
  }
  main .wrap #about h2 {
    margin: 30% 0 2.5% 5%;
  }
  main .wrap #about .about_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  main .wrap #about .about_wrap #aboutme {
    width: 100%;
  }
  main .wrap #about .about_wrap #aboutme #me_text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  main .wrap #about .about_wrap #aboutme #me_text p {
    display: block;
    width: 30%;
    margin: 0;
  }
  main .wrap #about .about_wrap #aboutme #me_text div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .wrap #about .about_wrap #aboutme #me_text h3 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */