@supports (-webkit-background-clip:text) and (-webkit-text-fill-color:transparent) {
}
    $main:#333333;
    
:root {
    font-family: 'Gowun Batang';
    font-weight: 400;
    font-size: 16px;
    color:#333333;
    
}

@media (max-width: 1400px){
    :root{
        font-size: 1.14vw;
    }
}

body{
    background: url("../img/main_bg.png") no-repeat center center; background-size: cover;
    height: 100vh; overflow: hidden;}
    header{width: 100%; position: fixed; z-index: 99;
        .container{
            text-align: center;
            #top{
                display: flex; justify-content: flex-end; 
                .none.top_box{display: none;}
                .top_box{ 
                    width: 100%; max-width: 200px; aspect-ratio: 5 / 3;
                    display: flex; justify-content: center;  align-items: center;
                    background: #ffffff50; 
                    border-right: 1px solid #ffffff;
                    transition: transform 0.25s ease-in-out;
                    &:hover{
                        transform: translateY(-0.2em);
                        box-shadow: 0 0.5em 0.5em -0.4em hsla(0, 0%, 5%, 0.5);
                        cursor: pointer;}
                    a{text-decoration: none; color: $main; font-size: 1.25rem;
                        font-family: "Raleway";
                        display: flex; align-items: center; gap: 10px;}
                            a::before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                border-top: 2px solid hsl(0, 0%, 33%);
                                top: 5px;
                                left: 0;
                                animation: animate 10s linear infinite;
                                transform-origin: left;
                                transform: scaleX(0);
                                transition: transform 0.25s ease-in-out;
                                z-index: -1;
                            }
                            a:hover::before,
                            a:focus::before {
                                transform: scaleX(1);
                            }
                            
                            a::after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                border-bottom: 2px solid hsla(0, 0%, 5%, 0.5);
                                bottom: 0;
                                right: 0;
                                transform-origin: right;
                                transform: scaleX(0);
                                transition: transform 0.25s ease-in-out;
                                z-index: -1;
                            }
                            a:hover::after,
                            a:focus::after {
                                transform: scaleX(1);
                            }
                }//.top_box
            }//#top
        }//.container
    }//header
    main{
        width: 100%; height: 100vh; margin: 0 auto; overflow: hidden;
        .wrap{display: flex; flex-direction: column;
            .area{width: 100%; height: 100vh;}
            #title{
                text-align: center;
                h1{font-family: "Abril Fatface"; padding:300px 0 120px 0; font-size: 7.5rem;}
                span{font-weight: 700; font-size: 3rem;}
                    .gradient-text-ani{
                            color: #f35626;
                            background-image: linear-gradient(92deg,#f35626,#feab3a);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            animation: Hue 5s linear infinite;
                    }
                
                @keyframes Hue {
                0% {
                filter:hue-rotate(0deg)
                }
                to {
                filter:hue-rotate(-1turn)
                }
                }
                p{font-size: 2rem; padding-top:40px; line-height: 150%;}

            }//#title

              
                
            #about{width: 100%; padding-left:90px; 
                .about_wrap{display: flex; justify-content: flex-start; align-items: flex-start;}
                h2{margin: 150px 0 80px 90px; font-family: "Abril Fatface"; font-size: 2.25rem;}
                #aboutme{width: 40%;
                    #me_text{text-align: center; 
                    p{width: calc(100% - 276px); margin: 0 auto;
                    img{width: 100%;}
                }
                h3{margin: 20px 0; font-size: 2rem; font-weight: 600;}
                span{font-size: 1.25rem;}
            }//#me_text
                }//#aboutme

        #info{width: 100%;
            margin:0 50px ; display: flex; gap: 80px; flex-wrap: wrap;
            .info_box{ width: calc(50% - 80px);
                h4{font-size: 2rem; font-weight: bold;}
                ul{font-size: 1.25rem; 
                    .text{margin-left: 30px;}
                li{display: inline-block; line-height: 200%;}}
                & .sort{display: flex; flex-direction: column;}
            }//.info_box
            .box4{
                li{float: left; margin-right: 50px;}
                li:nth-child(5){clear: both;}
            }
        }//#info
    }//#about 


        #works{
            margin: 0 auto; position: relative;
                h2{margin: 150px 0 80px 90px; font-family: "Abril Fatface"; font-size: 2.25rem;}
            .contents{
                width: 100%; display: flex; justify-content: space-between; align-items: flex-start;
                position: absolute; bottom: 0; left: 0; gap:0;

                .box{
                    flex: 1; margin: 0 auto; width: 30%; 
                    border: 1px solid #00000010;  border-bottom: none;
                    display: flex; flex-direction: column;    
                    min-height: 700px; /* 기본 높이 유지, 내용이 많아지면 자동 확장 */

                    h3{align-self: flex-end; font-size: 4rem; font-weight: 600; padding:20px;}
                    img{display: block; /* 이미지를 블록 요소로 변경 */ margin: 0 auto;
                        max-width: 80%;}
                    p{padding-left: 70px; font-size: 1.25rem; line-height: 150%;}
                    .title{margin-top: 80px;}
                    span{padding-left: 70px; margin: 20px 0; font-size: 1.75rem; font-weight: 600;}
                }//#box
            }//.contents
        }//#works
        #contact{
            display: flex; justify-content: center; flex-direction: column;
            align-items: center; /* 세로 중앙 정렬 */
            height: 100vh; /* 화면 전체 높이 */
            margin: 0;
            h2{font-family: "Abril Fatface"; font-size: 7.5rem;}
            ul{
                display: flex; align-items: center; flex-direction: column;
                margin-top: 100px;
                li{font-size: 2rem; line-height: 200%; position: relative; 
                #phone{position: absolute; left: -41px; top: 10px; z-index: -1; width: 2.5rem;}
                #email{position: absolute; left: -50px; top: 12px; z-index: -1; width: 2.5rem;}
                #name{font-size: 2.5rem; font-weight: 600;}

            }
        }
    }//#contact
        }//.wrap
    }//main



/*테블릿적용*/
@media (max-width: 1024px) {

}

/*모바일적용*/
@media (max-width: 768px) {
    :root{
        font-size: 3vw;
    }
    main .wrap{
            #title{ 
                h1{font-size: 4.5rem ;}
                span{font-size: 2.5rem ;}
                p{font-size: 1.5rem;}
            }//#title
            #about{ 
                padding:0;
                h2{margin: 25% 0 2.5% 5%;}
                .about_wrap {display: flex; flex-direction: column; justify-content: space-between;
                    #aboutme{width: 100%;  
                        #me_text{display: flex; align-items: center; justify-content: space-evenly;
                            p{display: block; width: 30%; margin:0;}
                            div{display: flex; flex-direction: column; justify-content: center;}
                            h3{ font-size: 1.5rem;}
                        }//#me_text
                    }//#aboutme
                    #info{
                        margin: 0 20px; display: flex; flex-direction: column;
                        gap:0;
                        .info_box{width: 100%; margin-top: 4%;
                            h4{font-size: 1.5rem;}
                            .box1{display: flex;}
                            &.box2{
                                .sort{display: flex; flex-direction: row; gap:30px;}
                            }//.box2
                            &.box4{
                                    li{width: calc(100% / 7 - 13px); margin-right: 10px;
                                    img{width: 100%;}}
                                    li:nth-child(5){clear: none;}
                      
                            }//.box4
                        }//.info_box
                    }//#info
                }//.about_wrap

        }//#about
    }//.wrap
}